.Social {
    margin: 2em 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (--medium) {
        margin-left: 2em;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: unset;
    }

    &.is-centered {
        margin: 0;
        justify-content: center;
    }

    &.is-visible-medium {
        display: none;

        @media (--medium) {
            display: flex;
        }
    }
}

.Social-item {
    margin-right: 2.5em;

    &:last-child {
      margin-right: 0;
    }

    @media (--medium) {
      margin-right: 1em;
    }

    &.is-icon {
        width: 24px;
        height: 24px;
    }
}

.Social-icon {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

.Social-icon__github {
    background: url('github.svg') no-repeat;
}

.Social-icon__linkedin {
    background: url('linkedin.svg') no-repeat;
}

.Social-icon__rss {
    background: url('rss.svg') no-repeat;
}
