---
import Layout from '../layouts/default.astro';
---
<Layout title="About me">
  <article class="about">
    <h1>About me</h1>
    <p>
      I'm Aleksandar Goševski, a software engineer based in Serbia. For me, it all started back in 2007 when I first dipped my toes into the world of HTML and CSS. Since then, my thirst for knowledge has led me to explore a diverse range of technologies, including PHP, JavaScript, Node.js, Go, Lua, and many more.
    </p>
    <p>
      I am currently thriving in my role as a Staff Software Engineer at <a href="https://www.vast.com/">Vast</a> (Acquired by <a href="https://vroom.com">Vroom</a>).
    </p>
    <p>
      In my relentless pursuit of an optimized machine setup I'm always fine-tuning my <a href="https://github.com/goschevski/dotfiles">dotfiles</a> to ensure a seamless and efficient coding environment.
    </p>
    <h3>Specialities</h3>
    <ul class="specialties">
      <li><strong>Software Architecture</strong> — Skilled in designing and implementing robust project architectures, optimizing code organization, and establishing best practices for scalability and maintainability.</li>
      <li><strong>Front-End</strong> — Throughout my career, I have worked extensively with JavaScript, from older libraries like jQuery and Backbone.js to more recent frameworks like Vue.js, enabling me to tackle diverse projects. While I'm currently focusing a bit less on CSS, I remain well-versed in semantic markup, accessibility, and the latest best practices in creating engaging web experiences.</li>
      <li><strong>Back-End</strong> — I have a wealth of experience working on a multitude of back-end services and APIs. I'm well-versed in designing and implementing RESTful APIs, database integrations, and server-side logic that powers the heart of applications.</li>
      <li><strong>Tooling</strong> — I geek out on setting up tools for automatic code checks, pre-commit hooks, and continuous integration. I'll make sure my team follows the coding standards while enjoying a smoother workflow.</li>
    </ul>
    <p>My adaptability and resourcefulness are the secret ingredients that make me a versatile and effective software engineer. Let's collaborate and turn your ideas into reality!</p>
  </article>
</Layout>

<style>
.specialties {
  padding: 0 2em;

  & li {
    list-style-type: disc;
  }
}
</style>
