---
import Sidebar from '../components/Sidebar.astro';
import MenuButton from '../components/MenuButton.astro';
import { ViewTransitions } from 'astro:transitions';
const { title, description } = Astro.props;
import { pageTitle, pageDescription } from '../consts';
import '../css/global.css';
---

<script>
const setup = () => {
  const btn = document.querySelector("[data-button]");
  const wrapper = document.querySelector("[data-wrapper]");
  btn.addEventListener("click", () => {
    btn.classList.toggle("is-active");
    document.documentElement.classList.toggle("is-locked");
    wrapper.classList.toggle("menu-opened");
  })
}
setup()
document.addEventListener('astro:after-swap', () => {
  setup()
})
</script>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title ? `${title} | ${pageTitle}` : pageTitle}</title>
    <meta name="description" content={description || pageDescription}>
    <link rel="preload" href="/fonts/bitter-300.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/bitter-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </head>
  <body>
    <div data-wrapper>
      <a class="skip-to-content-link" href="#main">Skip to content</a>

      <header class="header">
        <a href="/">
          <img src="/favicon-150x150.png" width="50" height="50" alt="Aleksandar Gosevski" />
        </a>
      </header>
      <MenuButton @click="menuButtonClicked" />

      <aside class="sidebar">
        <Sidebar />
      </aside>

      <main id="main" class="main">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
.header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 1em 0.8em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  justify-content: space-between;

  @media (--medium) {
    display: none;
  }
}

.menu-opened .sidebar {
  width: 100%;
  left: 0;

  @media (--large) {
    width: var(--sidebar-width);
  }
}

.sidebar {
  width: var(--sidebar-width);
  left: calc(0PX - var(--sidebar-width));
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  transition: left 0.2s;

  @media (--large) {
    left: 0;
  }
}

.main {
  max-width: 800px;
  padding: 2em;
  margin: 5em auto 0;
  color: #333;

  @media (--medium) {
    margin: 0 auto;
  }

  @media (--large) {
    margin-left: calc(var(--sidebar-width) + 2em);
  }
}

.skip-to-content-link {
  display: inline-block;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 4;
  transform: translateY(-1000%);
  transition: transform 0.3s;
  background: white;
  padding: 0.5em;
  border-radius: 3px;
  color: var(--main-color);

  &:focus {
    transform: translateY(0%);
  }
}
</style>
